/////////////////////
////LIST OF TASKS////
/////////////////////

.task_box {
    height: 70px;
    background-color: #7FC9A5;
    border: solid #22324E 1px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#plus_sign {
    font-size: 65px;
    margin-left: 10%;
}

#new_entry {
    font-size: 45px;
    margin-right: 10%;
}

#taskToDo {
    font-size: 27px;
    margin-right: 5%;
}

#date {
    margin-left: 5%;
    font-size: 17px;
}

a {
    display: block;
    max-width: 850px;
    margin: auto;
}

///////////////
///NEW ENTRY///
///////////////

#question {
    margin-top: 300px;
    text-align: center;
    font-size: 36px;
    animation-duration: 5s;
    animation-name: fadein;
}

#description, input {
    max-width: 850px;
    height: 90px;
    text-align: center;
    background-color: #7FC9A5;
    border: none;
    border-radius: 10px;
    
}

#description {
    margin: 75px auto auto auto;
    animation-duration: 1s;
    animation-name: slidein;
}

input {
    display: flex;
    align-self: flex-start;
    font-size: 32px;
    color: #22324E;
    box-sizing: border-box;
    overflow: visible;
    outline: none;
    width: 850px;
    text-align: left;
    padding-left: 20px;
}

//////////////
//EDIT ENTRY//
//////////////

#editWrapper {
    max-width: 850px;
    height: 70px;
    text-align: center;
    border-radius: 10px;
    margin: 55px auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form, #save, #delete {
    background-color: #7FC9A5;
    flex-grow: 1;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    margin-right: 10px;
    align-items: center;
    border-bottom: 3px solid darken(#7FC9A5, 30%);
}

#delete {
    background-color: #B22812;
    border-bottom: 3px solid darken(#B22812, 20%);
}

#save:active, #delete:focus {
    background-color: darken(#7FC9A5, 30%);
}

#delete:focus {
    background-color: darken(#B22812, 20%);
}

@keyframes slidein {
    from {
        transform: translateY(-400px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}