// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    background-color: #22324E;
    font-family: arial;
    color: white;
}

#title, .boxes{
    font-size: 72px;
    text-align: center;
    margin-top: 15%;
}

#container {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 100px;
}

.boxes {
    font-size: 36px;
    margin-top: 0%;
    background-color: #7FC9A5;
    border: solid #22324E 1px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}